.App {
  text-align: center;
}



#h2cont {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  
}


label input {
  margin-left:5px;
}

label label {
  margin-left:5px;
}


h4 span  {
  color:red;
  font-size:24px;
 /* text-decoration:underline;*/
}

.classHide {
  visibility:hidden;
}


.resultDiv {
  background-color:lightgray;
  border-top:3px solid #ed1c24;
  margin:4%;
  padding:1.5%;
}


.spanstat {
  color:darkred;
}