.App {
  text-align: center;
}


#h2cont {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
  background-color:#e8e8e8;
}

#headerCont {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:column;
}

#headerCont h2 {
  font-family:impact;
  font-size:36px;
  color: '#000';
}

#headerCont img {
  margin-right: -20px;
}

#fuelEconomyId {
  margin-top:2%;
}


label input {
  margin-left:5px;
}

label label {
  margin-left:5px;
}


h4 span  {
  color:red;
  font-size:24px;
}



.resultDiv {
  background-color:lightgray;
  border-top:3px solid #ed1c24;
  margin:4%;
  padding:1.5%;
}


.spanstat {
  color:darkred;
}